---
layout: single
author_profile: true
---

{% include base_path %}

<h2 id="about">About</h2>
<div><p>
    Fourth-year PhD candidate at Caltech studying Computing and Mathematical Sciences, advised by Katie Bouman in the <a href="https://computationalcameras.org/">Computational Cameras Group</a>, supported by the Gupta Fellowship. Previously at Duke, studying Mathematics, Computer Science and Statistics. 
    My research interests include computational imaging and computer vision. Currently I'm working on using computational imaging techniques for astrophysical applications. 
</p></div>


<h2>News</h2>
<!-- <div id="news">
  {% for item in site.data.news.main %}
  <p>{{ item | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('news'); showBlock('allnews'); return false;" class="btn btn--inverse">More</a>
</div>
<div id="allnews" style="display: none;">
  {% for item in site.data.news.all %}
  <p>{{ item | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('allnews'); showBlock('news'); return false;" class="btn btn--inverse">Less</a>
</div> -->
<div id="news">
  {% for item in site.data.news.main %}
  <p><strong><font class="new">{{ item.date | markdownify | remove: '<p>' | remove: '</p>'}} </font></strong>{{ item.info | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('news'); showBlock('allnews'); return false;" class="btn btn--inverse">More</a>
</div>
<div id="allnews" style="display: none;">
  {% for item in site.data.news.all %}
  <p><strong><font class="new">{{ item.date | markdownify | remove: '<p>' | remove: '</p>'}} </font></strong>{{ item.info | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('allnews'); showBlock('news'); return false;" class="btn btn--inverse">Less</a>
</div>

<h2>Talks</h2>
<div id="talks">
  {% for item in site.data.talks.main %}
  <p><strong><font class="new">{{ item.date | markdownify | remove: '<p>' | remove: '</p>'}} </font></strong>{{ item.info | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('talks'); showBlock('alltalks'); return false;" class="btn btn--inverse">More</a>
</div>
<div id="alltalks" style="display: none;">
  {% for item in site.data.talks.all %}
  <p><strong><font class="new">{{ item.date | markdownify | remove: '<p>' | remove: '</p>'}} </font></strong>{{ item.info | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('alltalks'); showBlock('talks'); return false;" class="btn btn--inverse">Less</a>
</div>

<h2 style="clear: both;" id="publications">Publications</h2>
{% for publication in site.data.publications.all %}
  {% include publication-single.html %}
{% endfor %}
<div style="clear: both;"></div>